* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
  /* height: 20000px; */
}

nav {
  /* margin-top: 20px; */
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-template-areas: "logo feature";
  padding: 20px 0;
  position: relative;
  height: 80px;
  z-index: 3;
}

nav .logo {
  grid-area: logo;
  margin-left: 10px;
  color: white;
}
nav .feature {
  grid-area: feature;
  margin-right: 15px;
  justify-self: end;
  float: right;
  color: white;
  font-size: 20px;
}

.hero {
  width: 100%;
  height: 100vh;
  background: url(img/pondok.jpg) top center;
  background-size: cover;
  position: relative;
  margin-top: -80px;
  z-index: 1;
  background-blend-mode: darken;
}

.hero::after {
  display: none;
}

.hero-content {
  position: absolute;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: aliceblue;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding-top: 3px; */
  margin-bottom: 50px;
}

.hero-content h1 {
  margin-bottom: 60px;
  font-size: 80px;
  letter-spacing: 10px;
  font-family: "Coming Soon", cursive;
  font-weight: bold;
  color: white;
  text-shadow: -2px 2px 5px black;
}

.hero-content h2 {
  margin-top: -40px;
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  color: white;
  text-shadow: -3px 3px 5px black;
}

.content {
  background-color: white;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 20px 20px;
  margin-top: 50px;
  flex-direction: column;
}
.content .text-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  padding-bottom: 30px;
  color: #417196;
}

.content .container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 30px;
  height: 360px;
  transition: 0.1s;
}
.content .location {
  background-color: white;
  /* width: 400px; */
  flex: 2;
  align-items: center;
  display: flex;
  flex-direction: column;
  /* border: 1px solid rgba(245, 245, 245, 0.015); */
  border-radius: 3%;
  margin: 10px;
  box-shadow: 2px 2px 9px rgba(1, 1, 3, 0.5);
}
.content .location i {
  margin-top: 40px;
  color: #417196;
  text-align: center;
}
.content .location p {
  margin-top: 5px;
  color: #6290b3;
  font-size: 19px;
}
.content .location a {
  text-align: center;
  color: #6290b3;
  text-decoration: none;
  font-size: 20px;
  padding: 20px 10px 20px 10px;
  margin: 20px 10px 0 10px;
}

.content .number {
  /* background-color: blue; */
  flex: 2;
  /* width: 400px;
  height: auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid whitesmoke; */
  border-radius: 3%;
  margin: 10px;
  box-shadow: 2px 2px 9px rgba(1, 1, 3, 0.5);
}

.content .number i {
  margin-top: 40px;
  color: #417196;
  padding-bottom: 4px;
  text-align: center;
}
.content .number p {
  color: #6290b3;
  font-size: 19px;
  margin-top: 5px;
  /* padding-top: 5px; */
}
.content .number a {
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  padding: 20px 10px 20px 10px;
  margin-top: 20px;

  color: #6290b3;
}

.content .gmail {
  /* background-color: chartreuse; */
  flex: 2;
  /* width: 400px; */

  display: flex;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid whitesmoke; */
  border-radius: 3%;
  margin: 10px;
  box-shadow: 2px 2px 9px rgba(1, 1, 3, 0.5);
}
.content .gmail i {
  margin-top: 50px;
  color: #417196;
}
.content .gmail p {
  color: #6290b3;
  font-size: 19px;
}
.content .gmail a {
  color: #6290b3;
  font-size: 20px;
  text-decoration: none;
  padding: 20px 10px 20px 10px;
  margin-top: 20px;
}
.content h1 {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 2px;
  padding-top: 100px;
  color: #325671;
}

.footer {
  height: 80px;
  background-color: #325671;
}

.footer h4 {
  color: white;
  text-align: center;
  font-weight: lighter;
  letter-spacing: 5px;
  padding-top: 30px;
}
/* --------------------hover----------------- */
.content .location:hover,
.content .number:hover,
.content .gmail:hover {
  transform: scale(1.03333);
  box-shadow: 0 0 0 2px #417196;
}

.content .location a:hover,
.content .number a:hover,
.content .gmail a:hover {
  border: 1px solid #417196;
  background-color: #9eb7cb88;
  border-radius: 10px;
}

/* ----------------end hover ----------------- */

/* -------------ukuran laptop--------------- */
@media (min-width: 1024px) {
  .hero {
    background-attachment: fixed;
  }
}

/*------------ukuran tablet dan mobile------------------- */
@media screen and (max-width: 764px) {
  .hero-content h1 {
    text-shadow: -3px 3px 10px black;
  }
  .hero::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 1) 5%, rgba(0, 0, 0, 0) 100%);
    /* z-index: 2; */
  }

  .content {
    /* display: grid; */
    padding-top: 40px;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
  }
  .content .container {
    flex-direction: column;
    padding-top: 400px;
  }

  .content .text-content {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    padding-bottom: 30px;
    color: #417196;
    z-index: 5;
  }
  
}

@media screen and (max-width: 733px) {
  .content .container {
    flex-direction: column;
  }
  .content {
    /* display: grid; */
    padding-top: 80px;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
  }
  .content .container {
    flex-direction: column;
    padding-top: 400px;
  }

  .content .text-content {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    padding-bottom: 30px;
    color: #417196;
    z-index: 5;
  }
}

@media screen and (max-width: 732px) {
  .container-footer {
    padding-top: 360px;
  }
}

@media screen and (max-width: 360px) {
  .hero {
    margin-left: 2px;
    background-size: cover;

    background-repeat: no-repeat;
  }
}
